

@font-face {
  font-family: 'Fantome Regular'; 
  src: url('fonts/Fantome-Regular.woff') format('woff'); 
  font-weight: normal;
  font-style: normal;
}

body{
  display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0; 
  background: white;
 font-family: 'Kanit', sans-serif;
}

.footer-text {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: right;
  color: red;
  padding: 10px -10px;
}

.random-image {
  position: absolute;
  max-width: 200px;
  max-height: 200px;
  transition: top 0.5s, left 0.5s;
  z-index: -1000;
  cursor: pointer;
}

.marquee-container {
  z-index: 1000;
  position: relative;
  text-align: center; 
}


h1 {
  color: red;
  font-family: 'Fantome Regular', sans-serif;
  font-size: 9vw;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.1em; 
}

h1 span {
  transition: color 0.5s ease; 
  cursor: pointer; 
}

h1 span:hover {
  color: black; 
}


.marquee {
  position: absolute;
  /* Position below the h1 */
  left: 0;
  width: 100%;
  overflow: hidden; /* Hide overflow content */
  white-space: nowrap; /* Prevent wrapping */
  background: red; /* Optional styling */
  padding: 0.5em 0;
  border-radius: 5px; /* Optional styling */
}

/* Marquee content */
.marquee-content {
  display: inline-block;
  animation: marquee 25s linear infinite;
  white-space: nowrap; /* Prevent wrapping */
}

/* Marquee animation */
@keyframes marquee {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(-100%);
  }
}

.links-container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 5em; /* Space between marquee and links */
  width: 100%; /* Full width to evenly space links */ /* Optional: Limit container width */
}

/* Individual link styling */
.link {
  font-family: 'Fantome Regular', sans-serif;
  font-size: 1.5rem;
  padding: 0.5em 1em;
  color: red; /* Optional background styling */
  border-radius: 5px; /* Optional rounded corners */
  text-align: center;
  cursor: pointer; /* Pointer cursor for interactivity */
  transition: color 0.9s ease, transform 0.9s ease;
}

.link:hover {
  color: #DB5ABA; /* Change background on hover */
  transform: scale(1.4); /* Slightly enlarge on hover */
}


.container {
  position: relative;
  width: 100%;
  height: 200px; /* Adjust height as needed */
  overflow: hidden;
  z-index: -5;
}





ul{
  list-style-type: none;
}

a {
  color: red;
  text-decoration: none;
  z-index: 10;
}

a:hover {
   color: transparent;
   text-shadow: 0 0 3px white;
}

pre{
  color: rgb(0, 26, 255);
}

.box{
  display: table;
  border-collapse: collapse;
  width: 100%;
  text-align: center;

}

.moreImage {
  width: auto;
  height: auto;
  border-bottom: 1px solid HotPink;
  padding: 0px 0px 0px 0px;
  display: grid;
}

.textbox{
text-align: left;
overflow-wrap: break-word;
word-wrap: break-word;
}

.column3 {
  width: 24.5vw;
  float: left;
  word-wrap: break-word
  }

.column2 {
  float: left;
  word-wrap: break-word
}

.img1 {
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-8103cdf21f.gif?v=1673505660109') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
padding-top: 50%;
  }


.gif1 {
  color:white;
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-80f716cac6.gif?v=1673505655118') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }

  .img2 {
    width: 50%;
    float: left;
    background:url('imgs/fish.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  padding-top: 50%;
    }
  
  
  .gif2 {
    color:white;
    width: 50%;
    float: left;
    background:url('imgs/ezgif-1-a9df8bfd5a.gif') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50%;
    }

/*
.img2 {
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-2-7739303612.gif?v=1699591783831') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
padding-top: 50%;
  }


.gif2 {
  color:white;
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-c75e0d390e.gif?v=1699591806142') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }

*/




.img3 {
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-47e404545c.gif?v=1673505837085') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif3 {
  color:white;
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-928683e373.gif?v=1673505844543') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }





.img10 {
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-94a391a7d6.gif?v=1699591789466') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif10 {
  color:white;
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-2-59ea4caf4a.gif?v=1699591807759') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }





.img6 {
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-3-938f182977.gif?v=1673541715388') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif6 {
  color:white;
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-3-cadeda9837.gif?v=1673541712462') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }




.img7 {
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-3-a6a150a006.gif?v=1673541713564') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif7 {
  color:white;
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-60467499da.gif?v=1699591792380') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }



.img8 {
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-fe2f25d0da.gif?v=1699591784825') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif8 {
  color:white;
  width: 100%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-3-eaf561241e.gif?v=1673541721371') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }

  .img9 {
    width: 100%;
    float: left;
    background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-2-7739303612.gif?v=1699591783831') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  padding-top: 50%;
    }
  
  
  .gif9 {
    color:white;
    width: 100%;
    float: left;
    background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-c75e0d390e.gif?v=1699591806142') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50%;
    }


hr {
  border: 0;
  margin: 1.5em 0;
  border-bottom: 1px dashed rgb(89,110,249);
}

#u{
  color: rgb(62, 32, 31);
}




.row {
  display: flex;
}

/* Create three equal columns that sits next to each other */
.column {
  flex: 50%;
  padding: 50px;
 
}

.imgstyle{
  background-color: rgb(209, 186, 191);
  box-shadow: 0px 0px 15px 15px rgb(255,0,0);
}

.circle{ 
  position: relative;
  margin: auto;
  
  border-radius: 0%;
  width: 40%;
  
  text-align: center;
  padding: 3%;
  transition: 0.5s;
}

.circle:hover{

  border-radius: 60%;
  box-shadow: 0px 0px 15px 15px rgb(89,110,249);
}

#nameTab, #aboutTab, #workTab, #resumeTab{
    display: none;
   
}



#aboutContent,#resumeContent{
  position: absolute;
  top: 10%;
  left: 20%;
  background-color: black;
  box-shadow: 0px 0px 25px 25px black;
  color: white;
  margin: auto;
  border-radius: 00%;
  width: 50%;
  height: 70%;
  padding: 3%;
  overflow: scroll;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 3px;
  }

  .grid-item {
    border: 1px solid rgb(255,0,0);
    padding: 20px;
    font-size: 15px;
  }


#workContent{
  position: absolute;
  background-color: black;
  box-shadow: 0px 0px 25px 25px black;
  color: white;
  top: 10%;
  left: 18.5%;
  text-align: center;
  margin: auto;
  width: 60%;
  height: 70%;
  padding: 3%;
  overflow: scroll;
}

#nameContent{
  position: absolute;
  background-color: black;
  box-shadow: 0px 0px 25px 25px black;
  color: white;
  top: 10%;
  left: 18.5%;
  text-align: center;
  margin: auto;
  width: 60%;
  height: 70%;
  padding: 3%;
  overflow: scroll;
}

#myInfo{
  top: 20%;
  left: 13%;
  margin: auto;
  width: 60%;
  height: 70%;
  padding: 3%;

  
}

.home{
  text-align: center;
  transition: color ease .9s;
}

.home:hover{
  color: red;
}

.GeneratedMarquee {
color:white;
padding:1.5em;

}

#slay{
  position:relative;
  top: 10%;
}

@media only screen and (max-device-width: 500px) {
  
  .links-container {
    justify-content: space-between;
    padding: 0%;
    flex-wrap: wrap; /* Add padding for better spacing */
}

.link {
  font-size: 2rem;
    flex-basis: 25%; /* Each link takes up 45% of the container width */
    margin-right: 0%; /* Add space between columns */
}

.link:nth-child(odd) {
    margin-right: 0; /* Remove margin on the first column link */
}

h1 {
  color: red;
  font-family: 'Fantome Regular', sans-serif;
  font-size: 10vw;
  text-align: center;
  margin: 0;
  display: flex;
  justify-content: center;
  gap: 0.1em;
  flex-wrap: wrap; /* Adjust spacing between letters */
}
  
  #aboutContent,#resumeContent, #workContent, #nameContent{
  position: absolute;
  top: 6%;
  left: 13%;
  margin: auto;
 
  border-radius: 0%;
  width: 70%;
  height: 80%;
  padding: 3%;
  overflow: scroll;
}
 
pre{
  position: relative;
  margin-left: auto;
  left: -20%;
}
  
 
  
  .circle{ 
  position: relative;
  margin: auto;
  border-radius: 10%;
  width: 50%;
  height: 50%;
  text-align: center;
  padding: 3%;
  transition: 0.5s;
}
  
  
  .imgstyle{
  background-color: rgba(209, 186, 191);
  box-shadow: 0px 0px 15px 15px rgb(255,0,0);
 
}
  .row {
  display: block;
}

   .grid-item {
   
    padding: 10px;
    font-size: 15px;
  }
  
  #myInfo{
  
  width: 100%;
 
  
}
  
  .column {
  flex: 100%;
  padding: 15px;
}

.textbox{
  padding: 2%;
  padding-bottom: 50px;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  }
    
  .column3 {
    width: 100%;
    float: center;
    padding: 1%;
    }
  
    .column{
      padding: 8%;
    }

  .column2 {
    display: none;
      width: 100%;
      float: center;
      padding: 2%;
    }

    .footer-text {
      display: none;
    }

   
  
  }