



* {
  margin: 0;
  padding: 0;
}

html, 
p,
.h1 {
  
font-family: 'B612', sans-serif;

  font-size: 14px;
  font-style: normal;
  line-height: 1.1;
}

body{
  color: black;
}

a {
  color: black;
  text-decoration: none;
  text-shadow: 0 0 3px hotpink;
  z-index: 10;
}

a:hover {
   color: transparent;
   text-shadow: 0 0 3px rgba(0,0,0,0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 3px;
}

.grid-item {
  border: 1px solid HotPink);
  padding: 20px;
  font-size: 15px;
}


.box{
  display: table;
  border-collapse: collapse;
  width: 100%;
  text-align: center;

}

.textbox{
text-align: left;
overflow-wrap: break-word;
word-wrap: break-word;
}

.column {
  width: 24.5vw;
  float: left;
  word-wrap: break-word
  }

.column2 {
  float: left;
  word-wrap: break-word
}

body{
	background-color: #ffffff;
}
.bg{
	background-color: #00000015;
}




.cover{
  text-align: center;
  width: 100%;
  height: 100vh;
  border-bottom: 0px solid black;
  padding: 10px 10px 0px 10px;
  background:url('imgs/db4fjld-7c04adef-021f-4163-9681-c2848d291765.gif') ;
  background-position: center;
  background-repeat: cover;
  background-size: 100vw;
  grid-template-columns: 36px auto;
  overflow: hidden;
  position: relative;
}

.g {
  height:100vh;
  width: 98%;
  box-sizing: border-box;
  padding: 10px 10px 10px 10px;
  border-right: 0px solid HotPink;
  display: inline-block;
  top: 5%;
  position: relative;
}


button{
  background: hotpink;
  font-size: 2vw;
  border-top: 0px solid hotpink;
  box-shadow: 0 0 30px 25px  hotpink;
  border-style: 2px solid hotpink;
  border-style: none;
}



hr {
  display: overlay;
  margin-right: auto;
  border-width: 1px solid HotPink;
}


/* SPACES
-------------------------------------------------- */

.rowtext {
  width: auto;
  height: 100vh;
  border-bottom: 1px solid HotPink;
  padding: 10px 10px 10px 10px;
  background-color: HotPink;
  display: grid;
  grid-template-columns: 36px auto;
}


.row {
  width: auto;
  height: auto;
  border-bottom: 1px solid HotPink;
  padding: 10px 10px 10px 10px;
  display: grid;
  overflow-wrap: break-word;
}

.moreImage {
  width: auto;
  height: auto;
  border-bottom: 1px solid HotPink;
  padding: 0px 0px 0px 0px;
  display: grid;
}


.area {
  padding: 10px 10px 10px 10px;
  border-top: 0px solid HotPink;
  position: relative;
}


.line {
  padding: 10px 10px 10px 10px;
  border-top: 1px solid HotPink;
}


.break {
  padding: 10px 10px 10px 10px;
  border-top: 1px solid HotPink;
    background-color: HotPink;
}


.solid {
  padding: 10px 10px 20px 10px;
  background: HotPink;
  border-top: 0px solid HotPink;
  box-shadow: 0 0 30px 25px  HotPink;
}


.dot {
  padding: 10px 10px 10px 10px;
  border-top: 1px solid HotPink;
}


.right:hover .dot {
  filter: blur(5px);
}

.right .dot:hover {
  filter: blur(0);
}



/* CONTAINERS
-------------------------------------------------- */

.big{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
  overflow-x: hidden !important;
  overflow-y: hidden !important;
  width: 100vw;
  height: 100vh;
	/* avoid browser level touch actions */
	xtouch-action: none; 
}


.left {
  width: 50vw;
  background: solid black;
    position: relative;
  /*border-right: 1px solid black;*/
}

.right {
  width: 50vw;
  overflow: auto;
  /*background-color: black;*/
}


.right.scroll{
  padding:right;
}

.left, 
.right {
  overflow-y: scroll; 
  overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
  height: 100vh;
}


/* SCROLL BAR RIGHT
-------------------------------------------------- */


    /* Track */

.right::-webkit-scrollbar-track {
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    }

    /* Handle */

.right::-webkit-scrollbar-thumb {
    background: HotPink;
    border: 1px solid black;
    border-radius: 6px;
    transition: background-color .5s;
    }

    /* Handle on hover */
    
.right::-webkit-scrollbar-thumb:hover {
    background: white; 
    }

.right::-webkit-scrollbar {
    width: 6px;
}


 
/* SCROLL BAR LEFT
-------------------------------------------------- */

    /* Track */

   
.left::-webkit-scrollbar-track {
    background: white; 
    border: 1px solid black;
    border-radius: 6px;
    }

    /* Handle */

.left::-webkit-scrollbar-thumb {
    background: HotPink;
    border: 1px solid black;
    border-radius: 6px;
    overflow: auto
    }

    /* Handle on hover */

.left::-webkit-scrollbar-thumb:hover {
      background: HotPink; 
    }


.left::-webkit-scrollbar {
    width: 6px;
    }

 /* END SCROLLBAR */




/* VARIABLE STUFF
-------------------------------------------------- */







/* COLOR
-------------------------------------------------- */
.blank {
  color: HotPink !important;
}

.today,
#more {
  background: HotPink;
}


#person1 {
  background: HotPink;
}


.glyph {

  /*color: #cff598;*/
  color: HotPink;
  /*text-shadow: -1px -1px 0 #ffff, 1px -1px 0 #ffff, -1px 1px 0 #ffff, 1px 1px 0 #ffff;*/
  /*text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;*/
   text-shadow: -10px -10px 10 #ffff, 10px -10px 0 #ffff, -10px 10px 0 #ffff, 10px 10px 0 #ffff;
      /*text-shadow: 0 0 15px #ffff;*/
}


.icon {
  color: HotPink;
}

.time {
  color: HotPink;
}


.ex1 {
  background-color: HotPink;
  color: black;
}

.ex2 {
  background-color: GreenYellow;
  color: black;
}

.ex3 {
  background-color: GreenYellow;
  color: black;
}

.ex4 {
  background-color: GreenYellow;
  color: black;
}

.outcome {
  text-decoration: underline double;
  text-decoration-color: GreenYellow;
  color: black;
}

.final {
  background-color: GreenYellow;
  color: black;
}


.link {
  color: HotPink;
}
.link:hover {
  color:black;
}

.no-class {
  color: lightgray;
}





       

.img1,
.gif1, 
.img2, 
.gif2, {
  display: table-cell;
  width: 100%;
}



.img1 {
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-8103cdf21f.gif?v=1673505660109') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
padding-top: 50%;
  }


.gif1 {
  color:white;
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-80f716cac6.gif?v=1673505655118') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }



  .img2 {
    width: 50%;
    float: left;
    background:url('imgs/fish.png') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  padding-top: 50%;
    }
  
  
  .gif2 {
    color:white;
    width: 50%;
    float: left;
    background:url('imgs/ezgif-1-a9df8bfd5a.gif') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50%;
    }

/*
.img2 {
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-2-7739303612.gif?v=1699591783831') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
padding-top: 50%;
  }


.gif2 {
  color:white;
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-c75e0d390e.gif?v=1699591806142') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }

*/




.img3 {
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-47e404545c.gif?v=1673505837085') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif3 {
  color:white;
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-928683e373.gif?v=1673505844543') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }





.img10 {
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-94a391a7d6.gif?v=1699591789466') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif10 {
  color:white;
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-2-59ea4caf4a.gif?v=1699591807759') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }





.img6 {
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-3-938f182977.gif?v=1673541715388') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif6 {
  color:white;
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-3-cadeda9837.gif?v=1673541712462') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }




.img7 {
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-3-a6a150a006.gif?v=1673541713564') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif7 {
  color:white;
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-60467499da.gif?v=1699591792380') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }



.img8 {
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-fe2f25d0da.gif?v=1699591784825') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }


.gif8 {
  color:white;
  width: 50%;
  float: left;
  background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-3-eaf561241e.gif?v=1673541721371') ;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 50%;
  }

  .img9 {
    width: 50%;
    float: left;
    background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-2-7739303612.gif?v=1699591783831') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  padding-top: 50%;
    }
  
  
  .gif9 {
    color:white;
    width: 50%;
    float: left;
    background:url('https://cdn.glitch.global/aa288124-303c-461b-9203-981b772fc458/ezgif-4-c75e0d390e.gif?v=1699591806142') ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 50%;
    }















































/* TEXT
--------------------------------------------------*/

ol {
  list-style-type: disc;
  margin-left: 20px;
}

ul {
  margin-left: 20px;
  margin-top: 0px;
}

blockquote {
  margin-left: 20px;
}

.blur {
  color: transparent;
  text-shadow: 0 0 5px rgba(0,0,0,0.5);
}




/* MOBILE
-------------------------------------------------- */

@media screen and (max-width: 500px) {
  html,
  body, 
  p,
  .h1 {
    font-size: 12px;
    line-height: 1.1;
  }

  .row {

  }

.solid button, 
.area button, 
.g button,
.line button,
.textbox button {
    font-size: 12px;
}



.cover{
  text-align: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-position: center;
  background-size: 140vw;
  grid-template-columns: 36px auto;
}



.g {
  height:100vh;
  width: 95%;
  float: left;
}

.area, {
  padding: 5px;
  border-top: 0px solid black;
}


.line {
  padding: 5px;
  border-top: 1px solid black;
}


.solid {
  padding: 10px 5px 20px 5px;;
}


.dot {
  padding: 5px;
}


#font {
  font-size: 60vw;
  line-height: 65vh;
  float: center;
}


.textbox{
text-align: center;
overflow-wrap: break-word;
word-wrap: break-word;
}
  
.column {
  width: 100%;
  float: center;
  }

.column2 {
    width: 100%;
    float: center;
  }

.left, .right
    {
      display: block; 
      border-right: 1px solid black;
    }


 #weight-slider {
  -webkit-appearance: none; 
  width: 40vw;
}






  .img1, .gif1, .img2, .gif2, .img3, .gif3, .img4, .gif4, .img5, .gif5, .img6, .gif6, .img7, .gif7, .img8, .gif8, .img9, .gif9, .img10, .gif10, .img11, .gif11, .img12, .gif12, .img13, .gif13, .img13d, .gif13d, .img14, .gif14, .img15, .gif15, .img16, .gif16, .img17, .gif17, .img18, .gif18 {
    display: table-footer-group;
    background-position: center;
    background-size: cover;
    width: 100%;
    height:100%;
    padding-top: 100%;

  }

  .grid-container {
    display: grid;
    grid-template-columns: auto ;
    padding: 3px;
  }

pre{
  display: none;
}

} 


